<!DOCTYPE html>
<html>
<head>
	<title>GoWebIM</title>
</head>
<body>
        {{define "index"}}
	登陆用户名是:{{.name}}!
	</br>
	</br>
	</br>
	</br>
	</br>
	<textarea id="msg"></textarea>
	</br>
	<input type="button" id="send" value="发送">
	<select id="st">
            <option value="all">all</option>
	    {{range $key, $value := .users}}
	    <option value="{{$value}}">{{$value}}</option>
	    {{end}}
	</select>
	<br>
	<input type="hidden" id="uuid" value="{{.name}}"/>
	<div id="xiaoxi">
	    <span>消息列表:</span>
	</div>
	<script src="/scripts/main.js"></script>
	{{end}}
</body>
</html>
